* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-weight: bold;
  @media (max-width: 667px) {
    font-size: 14px;
  }
}

.container {
  max-width: 1370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.active {
  color: $secondary_color !important;
}

%link_btn {
  display: block;
  width: 250px;
  margin: 0 auto;
  background-color: $secondary_color;
}

.fixed_width {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  color: $secondary_color;
}

.title {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  color: $secondary_color;
  @media (max-width: 667px) {
    font-size: 24px;
  }
}

%btn {
  padding: 15px 20px;
  color: $white_color;
  border-radius: 10px;
  text-align: center;
}

%flex {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.wrapper {
  @extend %flex;
  max-width: 580px;
  margin: 20px 0px;
}

.img_container {
  height: 120px;
  @media (max-width: 767px) {
    height: 90px;
  }
  img {
    @media (max-width: 767px) {
      width: 25%;
    }
    @media (max-width: 420px) {
      width: 50%;
    }
  }
}

.figure {
  width: 33.33333%;
  min-width: 320px;
  margin: 20px auto;
  @media (max-width: 767px) {
    width: 45%;
    min-width: 170px;
  }
}

.caption {
  padding: 20px 10px;
}

// .figure {
//   width: 300px;
// }

// langue btn

.navbar--items--btn {
  border: 2px solid $secondary_color;
  align-self: start;
  border-radius: 10px;
  padding-top: 5px;

  span {
    margin-right: 8px;
    color: $secondary_color;
    position: relative;
    bottom: 7px;
  }
}

footer {
  text-align: center;
  padding-top: 20px;
}

.footer--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;

  .title {
    font-size: 18px;
    margin-top: 24px;
  }
}

.nav {
  width: 90px;
  ul {
    list-style: none;
    li {
      margin-bottom: 16px;
      a {
        color: $black_color;
        text-decoration: none;
      }
    }
  }
}

.footer--contact {
  flex: 3;
  margin-left: 20px !important;
  min-width: 230px;
  margin: 0 auto;
  p {
    margin-bottom: 10px;
  }
  .phone-num {
    color: $green_color;
  }
}
.footer-info {
  flex: 4;
  min-width: 350px;
  font-weight: normal;
  text-align: start;
}

.footer--foot {
  height: 32px;
  background-color: $secondary_color;
}

.demarer-test {
  display: block;
  @extend %btn;
  text-decoration: none;
  color: $white_color;
  background-color: $secondary_color;
  width: 50%;
  margin: 10px auto;
}
