* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-weight: bold;
}

.container {
  max-width: 1370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.active {
  color: $secondary_color !important;
}

.fixed_width {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  color: $secondary_color;
}

.title {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  color: $secondary_color;
}

%btn {
  padding: 15px 20px;
  color: $white_color;
  border-radius: 10px;
  text-align: center;
}

%flex {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.wrapper {
  @extend %flex;
  max-width: 580px;
  margin: 20px 0px;
}

.img_container {
  height: 120px;
}

.figure {
  width: 33.33333%;
  min-width: 320px;
  margin: 20px auto;
}

.caption {
  padding: 20px 0px;
}

// .figure {
//   width: 300px;
// }
