.doctor-photo--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  div {
    width: 50%;
    text-align: center;
    @media (max-width: 767px) {
      width: 100%;
    }
    p {
      line-height: 2.5;
    }
  }
}
