.doctor-photo--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  div {
    width: 50%;
    font-family: "Cairo", sans-serif;
    text-align: center;
    @media (max-width: 767px) {
      width: 100%;
    }
    p {
      line-height: 2;
    }
  }
}

.doctor-photo--container-desc {
  p {
    font-size: 20px;
    color: rgba(7, 3, 3, 0.404);
    span {
      display: block;
      @media (max-width: 767px) {
        display: inline;
      }
    }
  }
}
