.progress-bar {
  width: 350px;
  margin: 124px auto 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    @extend %big_circle;
  }
  .second-circle-container {
    display: inline-block;
    position: relative;
    left: 138px;
    bottom: 11px;
  }
  .line {
    width: 300px;
    height: 3px;
    background-color: $green_color;
  }

  i {
    display: inline-block;
    height: 8px;
    width: 9px;
    background-color: $secondary_color;
    border-radius: 50%;
    margin-bottom: 3px;
    @media (max-width: 676px) {
      margin-bottom: 1px;
    }
  }
}

.progress-bar-description {
  max-width: 370px;
  margin: 0px auto;
  font-size: 12px;
  p {
    display: inline-block;
    position: relative;
    bottom: 15px;
  }
  .progress-bar-description--second {
    margin-left: 60px;
  }
  .progress-bar-description--third {
    margin-left: 80px;
    @media (max-width: 380px) {
      margin-left: 50px;
    }
  }
}

#app {
  padding: 24px 0px;
}
// preambule
.preambule {
  background-color: $main_color;
  margin: 24px 0px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Cairo", sans-serif;
  p {
    padding: 24px;
    line-height: 2;
  }
}

// progress indicateur

// #progress {
//   width: 90%;
//   margin-left: 3%;
//   margin-top: 32px;
//   margin-bottom: 32px;
//   background-color: $main_color;
//   color: $secondary_color;
//   border-radius: 20px;
// }

// general rules

.add_main_color {
  background-color: $main_color;
}

.add_warning_color {
  background-color: $warning_color !important;
}

%big_circle {
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
