* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  font-weight: bolder; }
  @media (max-width: 667px) {
    body {
      font-size: 14px; } }

.container {
  max-width: 1370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.active {
  color: #1078ad !important; }

.fixed_width {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  color: #1078ad; }

.title {
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  color: #1078ad; }
  @media (max-width: 667px) {
    .title {
      font-size: 24px; } }

.demarer-test, .information .information-types a {
  padding: 15px 20px;
  color: #fff;
  border-radius: 10px;
  text-align: center; }

.wrapper, .proteger .proteger-items, .information .information-types, .symptomes .symptomes--types, .symptomes--transmition .symptomes--transmition-items, .recommandations .recommandations-desc {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between; }

.wrapper {
  max-width: 580px;
  margin: 20px 0px; }

.img_container {
  height: 120px; }
  @media (max-width: 767px) {
    .img_container {
      height: 90px; } }
  @media (max-width: 767px) {
    .img_container img {
      width: 25%; } }
  @media (max-width: 420px) {
    .img_container img {
      width: 50%; } }

.figure {
  width: 33.33333%;
  min-width: 320px;
  margin: 20px auto; }
  @media (max-width: 767px) {
    .figure {
      width: 45%;
      min-width: 170px; } }

.caption {
  padding: 20px 10px; }

.navbar--items--btn {
  border: 2px solid #1078ad;
  align-self: start;
  border-radius: 10px;
  padding-top: 5px; }
  .navbar--items--btn span {
    margin-right: 8px;
    color: #1078ad;
    position: relative;
    bottom: 7px; }

footer {
  text-align: center;
  padding-top: 20px; }

.footer--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px; }
  .footer--content .title {
    font-size: 18px;
    margin-top: 24px; }

.nav {
  width: 90px; }
  .nav ul {
    list-style: none; }
    .nav ul li {
      margin-bottom: 16px; }
      .nav ul li a {
        color: #000;
        text-decoration: none; }

.footer--contact {
  flex: 3;
  margin-left: 20px !important;
  min-width: 230px;
  margin: 0 auto; }
  .footer--contact p {
    margin-bottom: 10px; }
  .footer--contact .phone-num {
    color: #369d53; }

.footer-info {
  flex: 4;
  min-width: 350px;
  font-weight: normal;
  text-align: start; }

.footer--foot {
  height: 32px;
  background-color: #1078ad; }

.demarer-test {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #1078ad;
  width: 50%;
  margin: 10px auto; }

hr {
  height: 4px;
  width: 70%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: #f4cf1b; }

nav + main {
  margin-top: 88px; }

.error {
  margin-top: 88px;
  padding: 28px 0px;
  text-align: center; }
  .error img {
    padding: 20px; }
  .error p,
  .error a {
    font-family: "Cairo", sans-serif; }

.progress-bar {
  width: 350px;
  margin: 124px auto 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .progress-bar .second-circle-container {
    display: inline-block;
    position: relative;
    left: 138px;
    bottom: 11px; }
  .progress-bar .line {
    width: 300px;
    height: 3px;
    background-color: #369d53; }
  .progress-bar i {
    display: inline-block;
    height: 8px;
    width: 9px;
    background-color: #1078ad;
    border-radius: 50%;
    margin-bottom: 3px; }
    @media (max-width: 676px) {
      .progress-bar i {
        margin-bottom: 1px; } }

.progress-bar-description {
  max-width: 370px;
  margin: 0px auto;
  font-size: 12px; }
  .progress-bar-description p {
    display: inline-block;
    position: relative;
    bottom: 15px; }
  .progress-bar-description .progress-bar-description--second {
    margin-left: 60px; }
  .progress-bar-description .progress-bar-description--third {
    margin-left: 80px; }
    @media (max-width: 380px) {
      .progress-bar-description .progress-bar-description--third {
        margin-left: 50px; } }

#app {
  padding: 24px 0px; }

.preambule {
  background-color: #96c5dc;
  margin: 24px 0px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Cairo", sans-serif; }
  .preambule p {
    padding: 24px;
    line-height: 2; }

.add_main_color {
  background-color: #96c5dc; }

.add_warning_color {
  background-color: #f4cf1b !important; }

.progress-bar span {
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%; }

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("../images/Merged bar-1.svg");
  background-size: cover;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: #96c5dc;
  top: 0;
  width: 100%;
  height: 88px; }
  nav .navbar--items {
    max-width: 320px;
    flex: 3;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 24px; }
    nav .navbar--items li {
      padding: 5px 10px; }
      nav .navbar--items li a {
        text-decoration: none;
        color: #000; }

.hero--warning {
  background-color: #f4cf1b;
  padding: 20px 10px; }
  .hero--warning .hero--warning--title,
  .hero--warning .hero--warning-description {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #1078ad; }
  .hero--warning .hero--warning--title {
    padding: 15px 0px; }

.proteger {
  background-color: #fff;
  color: #1078ad; }

.information {
  background-color: #96c5dc;
  color: #1078ad;
  padding: 20px 0px; }
  @media (max-width: 767px) {
    .information .figure {
      width: 100%; } }
  .information .information-types {
    align-items: center; }
    @media (max-width: 767px) {
      .information .information-types {
        flex-direction: column; } }
    .information .information-types a {
      text-decoration: none;
      display: block;
      width: 250px;
      margin: 0 auto;
      background-color: #1078ad; }
      @media (max-width: 767px) {
        .information .information-types a {
          width: 80%;
          margin: 0 auto; } }

.symptomes h3 {
  width: 100% !important; }

.symptomes .symptomes--types {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  max-width: 580px; }
  .symptomes .symptomes--types .figure {
    min-width: 250px; }
    @media (max-width: 420px) {
      .symptomes .symptomes--types .figure {
        min-width: 170px; } }
  .symptomes .symptomes--types .img_container {
    height: 150px; }
    @media (max-width: 520px) {
      .symptomes .symptomes--types .img_container {
        height: 100px; } }

.symptomes--transmition {
  color: #1078ad; }
  .symptomes--transmition .symptomes--transmition-items {
    max-width: 900px; }

.recommandations {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  background-color: #1078ad;
  padding: 20px 0px; }
  .recommandations h3 {
    color: #fff; }
  .recommandations .recommandations-desc {
    text-align: start; }
    @media (max-width: 700px) {
      .recommandations .recommandations-desc {
        justify-content: center;
        text-align: center; } }
    .recommandations .recommandations-desc .recommandations--list ul {
      list-style: none;
      color: #fff; }
    .recommandations .recommandations-desc .recommandations--contact {
      text-align: center; }
      .recommandations .recommandations-desc .recommandations--contact h3 {
        color: #f4cf1b; }
      .recommandations .recommandations-desc .recommandations--contact a {
        display: block;
        margin-top: 20px;
        text-decoration: none; }
      .recommandations .recommandations-desc .recommandations--contact .recommandations--contact-phone {
        background-color: #f4cf1b;
        text-align: center;
        padding: 10px 20px; }
      .recommandations .recommandations-desc .recommandations--contact .recommandations--contact-site {
        color: #fff;
        border-bottom: 1px solid #f4cf1b; }

.demande-test {
  background-color: #96c5dc;
  text-align: center;
  padding-bottom: 20px; }

.doctor-photo--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px; }
  @media (max-width: 767px) {
    .doctor-photo--container {
      flex-direction: column; } }
  .doctor-photo--container div {
    width: 50%;
    font-family: "Cairo", sans-serif;
    text-align: center; }
    @media (max-width: 767px) {
      .doctor-photo--container div {
        width: 100%; } }
    .doctor-photo--container div p {
      line-height: 2; }

.doctor-photo--container-desc p {
  font-size: 20px;
  color: rgba(7, 3, 3, 0.404); }
  .doctor-photo--container-desc p span {
    display: block; }
    @media (max-width: 767px) {
      .doctor-photo--container-desc p span {
        display: inline; } }
