* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7; }

.container {
  max-width: 1370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.active {
  color: #1078ad !important; }

.illustration .illustration__title {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  color: #1078ad; }

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background-image: url("../images/Merged bar-1.svg");
  background-size: cover;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 88px; }
  nav .navbar--items {
    max-width: 320px;
    flex: 3;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 24px; }
    nav .navbar--items li {
      padding: 5px 10px; }
      nav .navbar--items li a {
        text-decoration: none;
        color: #000; }

.navbar--items--btn {
  border: 2px solid #96c5dc;
  align-self: start;
  border-radius: 10px; }
  .navbar--items--btn span {
    margin-right: 8px;
    position: relative;
    bottom: 7px; }

.hero {
  margin-top: 88px; }

.hero--warning {
  background-color: #f4cf1b;
  padding: 20px; }
  .hero--warning .hero--warning--title,
  .hero--warning .hero--warning-description {
    max-width: 700px;
    margin: 0 auto;
    text-align: center; }
  .hero--warning .hero--warning--title {
    padding: 15px 0px; }
